//botstrap import from node

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
//font import
@import url("https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap");

.card {
  .small {
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
  }

  .card-img-top {
    padding: 5px;
    width: 70px;
  }
  .card-title {
    font-family: "Slabo 27px", serif;
    text-transform: uppercase;
  }
}
