<option value="/img/croatia.png">Croatia</option>
<option value="/img/albania.png">Albania</option>
<option value="/img/germany.png">Germany</option>
<option value="/img/austria.png">Austria</option>
<option value="/img/bosnia-and-herzegovina.png">Bosna</option>
<option value="/img/england.png">England</option>
<option value="/img/serbia.png">serbia</option>
<option value="/img/slovenia.png">Slovenia</option>
<option value="/img/saudi-arabia.png">Saudi-arabia</option>
<option value="/img/austria.png">Austria</option>
<option value="/img/czech-republic.png">Czech-republic</option>
<option value="/img/denmark.png">Denmark</option>
<option value="/img/italy.png">Italy</option>
<option value="/img/switzerland.png">Switzerland</option>
<option value="/img/slovakia.png">Slovakia</option>