<nav>
    <div class="site-title">
        <a href="/">
            <h1>Gameroom</h1>
        </a>
        <p>09-21</p>
    </div>
    <ul>
        <li> <a href="/">Games</a></li>
        <li> <a href="/players">Players</a></li>
        <li><a href="/blogs/create">New Game</a></li>
        <li><a href="/players/create">New Player</a></li>
    </ul>
</nav>