<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new Player</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col align-self-end">

                    </div>
                    <div class="col align-self-center">

                        <form action="/players" method="POST">
                            <div class="form-group">
                                <label for="name">Player Name</label>
                                <input type="text" class="form-control" id="name" aria-describedby="emailHelp"
                                    placeholder="name" name="name" required>
                            </div>
                            <div class="form-group">
                                <label for="gamertag">#Gamertag</label>
                                <input type="text" class="form-control" id="gamertag" aria-describedby="gamertag"
                                    placeholder="gamertag" name="gamertag" required>
                            </div>
                            <div class="form-group">
                                <label for="age">Age</label>
                                <input type="number" class="form-control" id="age" aria-describedby="age"
                                    placeholder="age" name="age" required>
                            </div>
                            <div class="form-group">
                                <label for="flag">Country:</label>
                                <select name="flag" id="flag" class="form-control">

                                    <%- include('flags.ejs') %>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="checkout">checkout</label>
                                <input type="date" class="form-control" id="checkout" aria-describedby="checkout"
                                    placeholder="checkout" name="checkout" required>

                            </div>
                            <div class="form-group">
                                <label for="isactive">Daily Tournament</label>
                                <select name="daily" id="daily" class="form-control">

                                    <option value="true">true</option>
                                    <option value="false">false</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>

                    </div>
                    <div class="col align-self-end">

                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>