<div
	class="modal fade"
	id="reservationModal"
	tabindex="-1"
	role="dialog"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Add new Reservation</h5>
				<button
					type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col align-self-end"></div>
					<div class="col align-self-center">
						<form action="/reservations" method="POST">
							<div class="form-group">
								<label for="date">Date</label>
								<input
									type="date"
									class="form-control"
									id="date"
									aria-describedby="emailHelp"
									placeholder="date"
									name="date"
								/>
							</div>
							<div class="form-group">
								<label for="time">Time</label>
								<input
									type="number"
									class="form-control"
									id="time"
									aria-describedby="time"
									placeholder="time"
									name="time"
									required
								/>
							</div>
							<div class="form-group">
								<label for="room">Room Number</label>
								<input
									type="number"
									class="form-control"
									id="room"
									aria-describedby="room"
									placeholder="room"
									name="room"
								/>
							</div>

							<div class="form-group">
								<label for="console">Console Nuber</label>
								<input
									type="number"
									class="form-control"
									id="console"
									aria-describedby="console"
									placeholder="console"
									name="console"
								/>
							</div>
							<div class="form-group">
								<label for="game">Game</label>
								<input
									type="text"
									class="form-control"
									id="game"
									aria-describedby="game"
									placeholder="game"
									name="game"
								/>
							</div>

							<button type="submit" class="btn btn-primary">Submit</button>
						</form>
					</div>
					<div class="col align-self-end"></div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">
					Close
				</button>
			</div>
		</div>
	</div>
</div>
