<html lang="en">
<%- include('./partials/head.ejs') %>

  <body>


    <%- include('./partials/nav.ejs') %>

      <div class="create-blog content">
        <form action="/blogs" method="POST">
          <label for="title">Game title:</label>
          <input type="text" id="title" required name="title">
          <label for="snippet">Game Snippet:</label>
          <input type="text" id="snippet" required name="snippet">
          <label for="img">img:</label>
          <input type="text" id="img" required name="img">
          <label for="body">Game Body:</label>
          <textarea name="body" id="body" cols="30" rows="10"></textarea>
          <button>Submit</button>
        </form>

        <%- include('./partials/footer.ejs') %>
      </div>

  </body>

</html>