<html lang="en">
<%- include('./partials/head.ejs') %>

  <body>


    <%- include('./partials/nav.ejs') %>

      <div class="create-blog content">
        <form action="/blogs" method="POST">
          <label for="title">Game title:</label>
          <input type="text" id="title" required name="title">

          <label for="snippet">Game Descritipion:</label>
          <input type="text" id="snippet" required name="snippet">

          <label for="multiplayer">Multiplayer</label>
          <select name="multiplayer" id="multiplayer" required>
            <option value="yes">yes</option>
            <option value="no">no</option>
          </select>


          <label for="console">Console</label>
          <select name="console" id="console" required>
            <option value="Play Station 5">Play Station 5</option>
            <option value="Play Station 4">Play Station 4</option>
            <option value="Nintendo Switch">Nintendo Switch</option>
            <option value="Xbox">Xbox</option>
          </select>


          <label for="img">img:</label>
          <input type="text" id="img" required name="img">

          <button>Submit</button>
        </form>

        <%- include('./partials/footer.ejs') %>
      </div>

  </body>

</html>