<html lang="en">
	<%- include('../partials/head.ejs') %>

	<body>
		<%- include('../partials/nav.ejs') %>

		<div class="container">
			<div class="row">
				<div class="col align-self-center">
					<h2 class="text-center">Login</h2>
					<br />

					<form action="/auth" method="POST">
						<div class="form-group">
							<label for="email">Email</label>
							<input
								type="email"
								class="form-control"
								id="email"
								aria-describedby="email"
								placeholder="email"
								name="email"
							/>
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input
								type="text"
								class="form-control"
								id="password"
								aria-describedby="password"
								placeholder="password"
								name="password"
							/>
						</div>

						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
				<div class="col align-self-end"></div>
			</div>

			<%- include('../partials/footer.ejs') %>
		</div>
	</body>
</html>
