<html lang="en">
<%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/nav.ejs") %>

      <div class="blogs content">
        <h2>Fortnite Tournament</h2>

       
      <%- include("../partials/footer.ejs") %>

  </body>

</html>